<h3><%= @bestbuy_locations.count %> Total Stores</h3>

<% @bestbuy_locations.each do |location| %>
  <ul class="stores">
    <h3 class="name">Store Name: <%= location.name %></h3>
    <p class="city">City: <%= location.city %></p>
    <p class="distance">Distance from ZipCode: <%= location.distance %></p>
    <p class="phone_number">Phone Number: <%= location.phone_number %></p>
    <p class="store_type">Store Type: <%= location.store_type %></p>
  </ul>
<% end %>
